@font-face {
  font-family: 'Gilam';
  src: url(/fonts/Gilam/gilam-regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilam';
  src: url(/fonts/Gilam/gilam-book.ttf) format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilam';
  src: url(/fonts/Gilam/gilam-semi-bold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilam';
  src: url(/fonts/Gilam/gilam-bold.ttf) format('ttf');
  font-weight: 700;
}

body {
  font-family: 'Gilam', sans-serif, Arial;
  color: #ffffff;
  background-color: #171717;
}

.container {
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

/***** Header *****/

.header {
  background: url("../img/header-bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-navbar,
.our-clients-navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar {
  padding-top: 37px;
  margin-bottom: 120px;
}

.header-logo {
  height: 33px;
}

.btn-call-back,
.btn-all-projects {
  padding: 10px 25px;
  border: 1px solid #E4B564;
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-icon {
  width: 16px;
}

.btn-link {
  text-decoration: none;
  font-family: 'Circe';
  font-size: 18px;
  line-height: 1.67;
  color: #E4B564;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header-title,
.our-equipment-title,
.our-clients-title {
  display: inline-block;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
}

.header-title {
  margin-bottom: 41px;
}

.header-description-activity-wrapper {
  width: 80%;
  margin-bottom: 41px;
}

.header-description-activity,
.grid-item-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.40;
}

.grid-container-header {
  height: 963px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 27px;
  grid-template-areas:
  "item1 item1 item2 item2 item3 item3"
  "item4 item4 item4 item5 item5 item5"
}

.grid-item-header {
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-area: item1;
  background: #634F2C;
}

.item2 {
  grid-area: item2;
  background: #B4A385;
}

.item3 {
  grid-area: item3;
  background: #E4B564;
}

.item4 {
  grid-area: item4;
  background: #635A4A;
}

.item5 {
  grid-area: item5;
  background: #B08C4D;
}

/***** Our equipment *****/

.our-equipment-section {
  background: url("../img/parallax-bg.jpeg") center/cover no-repeat;
  background-attachment: fixed;
}

.our-equipment-title {
  padding-top: 160px;
  margin-bottom: 94px;
}

.grid-container-our-equipment {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 255px 45px 140px 1fr 280px;
  grid-gap: 30px;
}

.grid-item-our-equipment {
  padding-top: 44px;
  padding-left: 50px;
  font-size: 20px;
  line-height: 1.25;
}

.item6 {
  grid-area: 1 / 1 / 3 / 2;
  background: #0E0E0E;
}

.item7 {
  grid-area: 1 / 2 / 4 / 3;
  background: #242424;
}

.item8 {
  grid-area: 1 / 3 / 2 / 4;
  background: #1F1F1F;
}

.item9 {
  grid-area: 2 / 3 / 5 / 4;
  background: #0E0E0E;
}

.item10 {
  grid-area: 3 / 1 / 6 / 2;
  background: #1F1F1F;
}

.item11 {
  grid-area: 4 / 2 / 6 / 3;
  background: #E4B564;
  color: #000000;
}

.item12 {
  grid-area: 5 / 3 / 6 / 4;
  background: #0A0909;
}

.item8,
.item9,
.item10,
.item11 {
  font-weight: 500;
}

.item6 span,
.item7 span,
.item12 {
  font-weight: 700;
}

/***** Our clients & projects *****/

.our-clients-section {
  margin-bottom: 239px;
  background: #0E0E0E;
}

.our-clients-navbar {
  padding-top: 161px;
  margin-bottom: 61px;
}

.grid-container-our-clients {
  height: 782px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "item13 item14 item15"
  "item16 item17 item18"
}

.grid-item-our-clients {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item13 {
  grid-area: item13;
  background: #634F2C;
}

.item14 {
  grid-area: item14;
  background: rgba(232, 210, 171, 0.76);
}

.mavis-descr {
  width: 83%;
  display: none;
  text-align: center;
}

.mavis-descr span {
  font-weight: 600; 
}

a:hover + .mavis-descr {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
}

.item15 {
  grid-area: item15;
  background: #E4B564;
}

.item16 {
  grid-area: item16;
  background: #635A4A;
}

.item17 {
  grid-area: item17;
  background: #B08C4D;
}

.item18 {
  grid-area: item18;
  background: #634F2C
}
